<div class="row-col">
   <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
         <div class="page-title m-b">
            <h1 class="inline m-a-0">Artists</h1>
         </div>
         <div class="row row-lg">
            <app-artist-list></app-artist-list>
         </div>
         <div class="text-center" style="margin-bottom: 40px;">
            <app-paginator></app-paginator>
         </div>
      </div>
   </div>
   <div class="col-lg-3 w-xxl w-auto-md">
      <div class="padding" style="bottom: 60px;">
         <app-top-artist></app-top-artist>
         <app-mobile-store></app-mobile-store>
         <div class="b-b m-y"></div>
         <app-side-nav></app-side-nav>
      </div>
   </div>
</div>