<h6 class="text text-muted">5 Likes</h6>
<div class="row item-list item-list-sm m-b">
   <div class="col-xs-12">
      <div class="item r" data-id="item-8" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b7.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">Simple Place To Be</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">RYD</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12">
      <div class="item r" data-id="item-1" data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b0.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">Pull Up</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">Summerella</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12">
      <div class="item r" data-id="item-10" data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b9.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">The Open Road</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">Postiljonen</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12">
      <div class="item r" data-id="item-4" data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b3.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">What A Time To Be Alive</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">Judith Garcia</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12">
      <div class="item r" data-id="item-9" data-src="http://api.soundcloud.com/tracks/264094434/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b8.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">All I Need</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">Pablo Nouvelle</a>
            </div>
         </div>
      </div>
   </div>
</div>