<!--padding p-b-0 start here-->
<div class="padding p-b-0">
   <div class="page-title m-b">
      <h1 class="inline m-a-0">Discover</h1>
   </div>
   <!--row row-sm item-masonry item-info-overlay start here-->
   <div class="row row-sm item-masonry item-info-overlay">
      <!--Carosal Item Start-->
      <!-- <div class="col-sm-6 text-white m-b-sm">
         <div class="owl-carousel owl-theme owl-dots-sm owl-dots-bottom-left owl-loaded owl-drag">
            <div class="owl-stage-outer">
               <div class="owl-stage" >
                  <div class="owl-item cloned" style="width: 100%;">
                     <div class="item r">
                        <div class="item-media info">
                           <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/c2.jpg')"></a>
                           <div class="item-overlay center">
                              <button class="btn-playpause">Play</button>
                           </div>
                        </div> -->
                        <!-- <div class="item-info">
                           <div class="item-overlay bottom text-right">
                              <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a> <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                              <div class="dropdown-menu pull-right black lt"></div>
                           </div> -->
                           <!-- <div class="item-title text-ellipsis"><a href="track.detail.html">Blind Me</a></div>
                           <div class="item-author text-sm text-ellipsis"><a href="artist.detail.html" class="text-muted">Fifty</a></div>
                        </div> -->
            <!--         </div>
                  </div>
               </div>
            </div>-->
           <!--  <div class="owl-nav">
               <div class="owl-prev">prev</div>
               <div class="owl-next">next</div>
            </div> -->
         <!--</div>
      </div>-->
      <!--Carosal Items End here-->
      <div class="col-sm-3 col-xs-6">
         <div class="item r" data-id="item-1" data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media ">
               <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b2.jpg');"></a>
               <div class="item-overlay center">
                  <button  class="btn-playpause">Play</button>
               </div>
            </div>
            <div class="item-info">
               <div class="item-overlay bottom text-right">
                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu pull-right black lt"></div>
               </div>
               <div class="item-title text-ellipsis">
                  <a href="track.detail.html">Pull Up</a>
               </div>
               <div class="item-author text-sm text-ellipsis ">
                  <a href="artist.detail.html" class="text-muted">Summerella</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3 col-xs-6">
         <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media ">
               <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b2.jpg');"></a>
               <div class="item-overlay center">
                  <button  class="btn-playpause">Play</button>
               </div>
            </div>
            <div class="item-info">
               <div class="item-overlay bottom text-right">
                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu pull-right black lt"></div>
               </div>
               <div class="item-title text-ellipsis">
                  <a href="track.detail.html">Fireworks</a>
               </div>
               <div class="item-author text-sm text-ellipsis ">
                  <a href="artist.detail.html" class="text-muted">Kygo</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3 col-xs-6">
         <div class="item r" data-id="item-3" data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media ">
               <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b2.jpg');"></a>
               <div class="item-overlay center">
                  <button  class="btn-playpause">Play</button>
               </div>
            </div>
            <div class="item-info">
               <div class="item-overlay bottom text-right">
                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu pull-right black lt"></div>
               </div>
               <div class="item-title text-ellipsis">
                  <a href="track.detail.html">I Wanna Be In the Cavalry</a>
               </div>
               <div class="item-author text-sm text-ellipsis ">
                  <a href="artist.detail.html" class="text-muted">Jeremy Scott</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3 col-xs-6">
         <div class="item r" data-id="item-4" data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media ">
               <a href="track.detail.html" class="item-media-content" style="background-image: url('assets/images/b2.jpg');"></a>
               <div class="item-overlay center">
                  <button  class="btn-playpause">Play</button>
               </div>
            </div>
            <div class="item-info">
               <div class="item-overlay bottom text-right">
                  <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                  <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu pull-right black lt"></div>
               </div>
               <div class="item-title text-ellipsis">
                  <a href="track.detail.html">What A Time To Be Alive</a>
               </div>
               <div class="item-author text-sm text-ellipsis ">
                  <a href="artist.detail.html" class="text-muted">Judith Garcia</a>
               </div>
            </div>
         </div>
      </div>
      <!--row row-sm item-masonry item-info-overlay end here-->
   </div>
   <!--padding p-b-0 end here-->
</div>
<!--
   http://logavdm.me/StarMusiq/images/songs/2-States_B.jpg
   http://logavdm.me/StarMusiq/images/songs/Aadukalam_B.jpg
   http://logavdm.me/StarMusiq/images/songs/Aakko_Single_B.jpg
   http://logavdm.me/StarMusiq/images/songs/1-Pandhu-4-Run-1-Wicket_B.jpg
   
   
   -->