
   <div class="navbar">
      <a class="navbar-brand md"><a data-toggle="modal" data-target="#aside" class="nav-link">
      <i  class="material-icons">menu</i>
      </a> </a>
      <ul class="nav navbar-nav pull-right">
         <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#search-modal"><i class="material-icons">search icon</i></a></li>
         <li class="nav-item"><a class="nav-link" href=""><span class="hidden-xs-down btn btn-sm rounded primary _600">Search Music</span> </a></li>
      </ul>
   </div>
