
<!--col-lg-3 started-->
<div class="col-lg-3 w-xxl w-auto-md">
<!--padding started-->
<div class="padding" style="bottom: 60px;" data-ui-jp="stick_in_parent">
<h6 class="text text-muted">QUICK FIND</h6>
<!--row item-list item-list-sm m-b started-->
<div class="row item-list item-list-sm m-b">
   <div class="col-xs-12">
      <div class="item r" data-id="item-6" data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b5.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">Body on me</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">Rita Ora</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12">
      <div class="item r" data-id="item-10" data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
         <div class="item-media ">
            <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b9.jpg');"></a>
         </div>
         <div class="item-info">
            <div class="item-title text-ellipsis">
               <a href="track.detail.html">The Open Road</a>
            </div>
            <div class="item-author text-sm text-ellipsis ">
               <a href="artist.detail.html" class="text-muted">Postiljonen</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!--row item-list item-list-sm m-b ended-->
</div>
<!--padding ended-->
</div>
<!--col-lg-3 ended-->